

.bodystyle{
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;

}

ul {
    margin: 0;
    padding: 1;
    list-style-type: none;
}

li{
    float: left
    margin: 20px;
    padding: 40px;
    display: inline;
    
}

iframe{
    width: 100%;
   height: 750px;
}

.h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.h2{
    font-size: 20px;
    margin: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.flexcontainer{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    flex-direction: row;

}

.cell{
    width: 300px;
    height: 250px;
    padding: 20px;
    object-position: center;
    object-fit: contain;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    &:hover{
        opacity: 0.7;
        rotate: 5deg;
    }

}

a:link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited{
    color: rgb(0, 0, 0)
    text-decoration: none;

}

a:hover{
    text-decoration: dashed;
    color: rgb(41, 118, 42);
}

