

.bodystyle{
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;

}

.h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: black;
}

.h2{
    font-size: 20px;
    margin: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.flexcontainer{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    flex-direction: row;

}

.cell{
    width: 300px;
    height: 250px;
    padding: 20px;
    object-position: center;
    object-fit: contain;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    &:hover{
        opacity: 0.7;
        rotate: 5deg;
    }

}

a:link{
    color: green;
    text-decoration: none;
}

a:visited{
    color: rgb(24, 86, 45)
    text-decoration: none;

}

a:hover{
    text-decoration: dashed;
    color: white;
}